
body {
	background-color: #555555;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: white;
	text-align: center;
}

h1 {
	font-size: 24px;
}

a {
	text-decoration: none;
	color: #C2AA6D;
}

a:visited {
	text-decoration: none;
	color: #C2AA6D;
}

a:hover {
		text-decoration: underline;
	color: white;
}

p {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#main {
	border: 3px solid black;
	display: inline-block;
	margin-right: 150px;
	background-color: #080808;
}

#log {
	position: absolute;
	width: 400px;
	right: 0px;
	top: 0px;
}

.log-entry {
	text-align: left;
	font-size: 12px;
	margin-bottom: 10px;
}

#code {
	margin-top: 20px;
}

#code-input {
	width: 600px;
	height: 300px;
}

.canvas-game {
	position: absolute;
	z-index: 0;
}

.canvas-dino {
	position: absolute;
	z-index: 1;
}

.canvas-health {
	position: absolute;
	z-index: 2;
}